<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WORM</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />
</head>
<body>
	<div class="login-page">
		<div class="form">
			<Form class="login-form">
				<formgroup>
					<input placeholder="username"required />
				</formgroup>
				<formgroup>
					<input placeholder="password" type='password' required/>
				</formgroup>
				<p id="err" class="text-secondary"></p>
				<formgroup>
					<button> sign in </button>
				</formgroup>
			</form>
		</div>
	</div>
</body>
</html>