/* div {
  padding: 20px;
} */

#button-big {
  width: 50%;
}

/* .active {
  height: 30px;
} */

.dropdown:hover .dropdown-menu {
  display: block;
}

#tbl_grade > thead th{
  text-align: right;
}

#members td:nth-child(n+2) {
  text-align: right;
}


/* .button{
  text-align: center;
  height: 60;
} */

/* .text-center {
  text-align: center; 
  size: 50;
} */


/* 
.text-right {
  text-align: right;

}




.button {
    padding: 100px 100px;
    text-align: center;
    font-size: 16px;
} */