#control_panel {
  display: flex;
  justify-items: center;
}

#time {
  line-height: 38px;
}

#slt_classrooms {
  margin-top: 0px !important;
  height: 38px !important;
}

#input_grade {
  width: 70px;
  padding-left: 8px !important
}

#btn_grade {
  width: 100px;
}

#tbl_grade td {
  min-width: 50px;
}

#tbl_grade th {
  min-width: 50px;
}

#tbl_grade_row_sessions th:first-child,
#tbl_grade_body td:first-child {
  width: 160px !important;
  text-align: left !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  border-width: 2px;
}

#tbl_grade_row_sessions th:nth-child(n + 2),
#tbl_grade_body td:nth-child(n + 2) {
  margin-right: 8px !important;
  text-align: right !important;
  padding-right: 8px !important;
  border-width: 2px;
}

.grade {
  margin: 4px !important;
}

.grade.changable {
  cursor: pointer;
}

.grade.changable:hover,
.grade.changable.highlight {
  background-color: rgb(145, 145, 255);
}