<!DOCTYPE html>
<html>
 <head>
    <title>WORM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'grade.css' %}" />
    <link rel="shortcut icon" type="image/ico" href="{% static 'fav.ico' %}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'grade.js' %}"></script>  
 </head>
<body>
  
    <div class="text-right mt-3 mr-3">
        <a href='login/logout'>
            <button type="button" class="btn btn-secondary btn-sm">
                Logout
            </button>
        </a>
    </div>

    <div class="container ">
        <div class="invisible mb-1">Loading...</div>
        <div id="control_panel" class="mb-2">
            <select class="dropdown-toggle" id="slt_classrooms">
                <option>Loading...</option>
            </select>

            <button id="btn_grade" type="button" class="btn btn-primary ml-3">
                Grade
            </button>
            <input type="number" class="ml-3" id="input_grade" disabled>
            <span id="time" class="ml-3">
                00:00:00
            </span>
        </div>

        <span id="form"></span>
        <span id="time"></span>

        <table class="table-bordered table-striped" id="tbl_grade">
            <thead>
                <tr id="tbl_grade_row_sessions">
                    <th class="table-info">Name</th>
                </tr>
            </thead>

            <tbody id="tbl_grade_body">
                
	        </tbody>
        </table>
    </div>
    <br /><br />

    <div  class="text-center" id="btn-big">
        
    </div>
  
</body>
</html>