<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WORM</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
	<div class="login-page">
		<div class="form">
			<form class="login-form" method="post" >
				{% csrf_token %}
				{{form.username}}
				{{form.password}}
				<p id="err" class="text-secondary"></p>
				{% if messages %}
					{% for message in messages %}
						<h6 class="{{ message.tags }}">{{ message }}</h6>
					{% endfor %}
				{% endif %}
				<formgroup>
					<button type="submit"> sign in </button>
				</formgroup>
			</form>
			
		</div>
	</div>
</body>
</html>
