<!DOCTYPE html>
<html>
<head>
    <title>A Web Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   {% load static %}
   <link rel="stylesheet" type="text/css" media="screen" href="{% static 'summary.css' %}" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  </head>
<body>
    <div class = "text-right">
        <button type="button" class="btn btn-info">Log out</button>
    </div>
    <br> <br>
      <div class="container">
            <div class="row">
                <div class="col-6 col-md-4"></div>
                <div class="col-6 col-md-4">Summary</div>
                <div class="col-6 col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4"></div>
                <div class="col-6 col-md-3">Average grading time</div>
                <div class="col-6 col-md-4">02:00:00</div>
            </div>  
            <div class="row">
                <div class="col-6 col-md-4"></div>
                <div class="col-6 col-md-3">Grading tim target</div>
                <div class="col-6 col-md-4">01:00:00</div>
            </div>  
                    
      </div>

      
</body>
</html>