<!DOCTYPE html>
<html>
<head>
    <title>A Web Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'summary.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">    
    
  </head>
<body class="container">
    <div class="">
        <div>
            <label for="">Start date</label>
            <input type="text" id="start_date" data-input>
        </div>
        <div>
            <label for="">Stop date</label>
            <input type="text" id="stop_date" data-input>
        </div>
        <h6 id="noti" class="invisible p-0 text-danger"></h3>
    </div>
    <div>
        <h1>Instructors Stats</h1>
        <table class="table table-striped">
                <thead>
                    <tr id="">
                        <th>Name</th>
                        <th>Total hour</th>
                        <th>Hour per day</th>
                    </tr>
                </thead>
    
                <tbody id="tbl_teacher_body">
                    
                </tbody>
            </table>
    </div>

    <div>
            <h1>Class Stats</h1>
            <table class="table table-striped">
                    <thead>
                        <tr id="">
                            <th>Name</th>
                            <th>Total hour</th>
                            <th>Hour per day</th>
                        </tr>
                    </thead>
        
                    <tbody id="">
                        
                    </tbody>
                </table>
        </div>
    
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
    <script type="text/javascript" src="{% static 'summary.js' %}"></script>  
</body>
</html>
